@model IEnumerable<_11_Frontend_com_ASP_NET_MVC.Models.Contato>

@{
    ViewData["Title"] = "Listagem de contatos";
}

<h2>Contatos</h2>

<p>
    <a asp-action="Criar">Novo contato</a>
</p>

<table class="table">
    <caption>Tabela de Contatos</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
        </tr>
    </thead>
    
    <tbody>
        <!-- TODO O  ERRO ESTA AQUI EMBAIXO --> 
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
                <td>
                    <a asp-action="Editar" asp-roue-id="item.Id">Editar</a>|
                    <a asp-action="Detalhes" asp-roue-id="item.Id">Detalhes</a>|
                    <a asp-action="Deletar" asp-roue-id="item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>